<!DOCTYPE html>
<html>
<head>
    <title>Live Count</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <div id="count">
        {{ count }}
    </div>
    <script>
        function updateCount() {
            $.ajax({
                url: '/count/',  // Replace with your view URL
                success: function(data) {
                    $('#count').text(data.count);
                }
            });
        }

        setInterval(updateCount, 60000); // Update every minute
    </script>
</body>
</html>
